.container{
  height: 400px;
  width: 200px;
  position: absolute;
  border: 1px solid;
  left: 40%;
  top: 20%;
  transform: translateX(-50%);
}

.info-container{
  height: 400px;
  width: 300px;
  position: absolute;
  border: 1px solid;
  left: 60%;
  top: 20%;
  transform: translateX(-50%);
}

.info-container>p{
  padding-left: 5px;
  font-size: 12px;
}

.container .goal{
  height: 20px;
  width: 20px;
  left: 50%;
  top: 10%;
  position: absolute;
  transform: translate(-50%,-50%);
  background: yellow;
}

.container .dot{
  position: absolute;
  height: 5px;
  width: 5px;
  background: black;
  transform: translate(-50%,-50%);
}
.container .dot.best{
  height: 5px;
  width: 5px;
  background: red;
}
